.movie-detail {
   max-width: 1200px;
   height: 200px;
   margin: 0 auto;
}

.movie-detail #bgimg {
   width: 100%;
   height: 100%;
   object-fit: cover;
   mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.movie-content {
   z-index: 10;
   display: flex;
   padding-left: 100px;
   padding-right: 100px;
}

.movie-detail-thumbnail {
   margin-top: 40px;
   margin-right: 40px;
}

.movie-detail-thumbnail img {
   border-radius: 12px;
}

.movie-description {
   width: 1000px;
   color: rgba(255, 255, 255, 0.873);
}

.movie-description h1 {
   color: white;
}

.movie-description button {
   width: 175px;
   height: 35px;
   background-color: rgb(255, 244, 27);
   color: rgb(46, 46, 46);
   font-weight: 600;
   font-size: 17px;
   border: none;
   border-radius: 10px;
   margin: 10px;
}

.movie-description button:hover {
   opacity: 0.8;
   cursor: pointer;
}
